<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_arrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,446},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,26}}</string>
                <key>sourceSize</key>
                <string>{64,26}</string>
            </dict>
            <key>bullet_fire_arrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,478},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,26}}</string>
                <key>sourceSize</key>
                <string>{64,26}</string>
            </dict>
            <key>bullet_fire_stone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,380},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bullet_firegun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,114},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bullet_rock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,161},{34,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bullet_rocket_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{128,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,39}}</string>
                <key>sourceSize</key>
                <string>{128,41}</string>
            </dict>
            <key>bullet_rocket_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{118,41}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{118,41}}</string>
                <key>sourceSize</key>
                <string>{128,41}</string>
            </dict>
            <key>bullet_snake_venom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,380},{52,49}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{52,49}}</string>
                <key>sourceSize</key>
                <string>{138,57}</string>
            </dict>
            <key>bullet_snake_venom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,380},{96,49}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{96,49}}</string>
                <key>sourceSize</key>
                <string>{138,57}</string>
            </dict>
            <key>bullet_snake_venom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,114},{132,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{132,45}}</string>
                <key>sourceSize</key>
                <string>{138,57}</string>
            </dict>
            <key>bullet_sniper_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,160},{70,66}}</string>
                <key>offset</key>
                <string>{-71,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,116},{70,66}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bullet_sniper_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,380},{100,106}}</string>
                <key>offset</key>
                <string>{-46,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,89},{100,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bullet_sniper_fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{190,110}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,84},{190,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bullet_spear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{82,10}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,45},{82,10}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>bullet_spider_web_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,380},{112,58}}</string>
                <key>offset</key>
                <string>{-89,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,106},{112,58}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bullet_spider_web_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,132},{246,96}}</string>
                <key>offset</key>
                <string>{-19,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,65},{246,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bullet_spider_web_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,156}}</string>
                <key>offset</key>
                <string>{-8,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{274,156}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bullet_stone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,446},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:088eaa5c233b36ac1610028efcdc054b$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
