<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_5_attack_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,468},{78,110}}</string>
                <key>offset</key>
                <string>{10,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,36},{78,110}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,76},{88,150}}</string>
                <key>offset</key>
                <string>{5,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,23},{88,150}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,370},{96,114}}</string>
                <key>offset</key>
                <string>{28,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,41},{96,114}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,376},{78,126}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,77},{78,126}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,180},{140,94}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,53},{140,94}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,166},{148,122}}</string>
                <key>offset</key>
                <string>{23,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,25},{148,122}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,168},{142,122}}</string>
                <key>offset</key>
                <string>{36,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,26},{142,122}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,102},{148,110}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,69},{148,110}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{186,72}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,83},{186,72}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,88}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,64},{222,88}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{152,114}}</string>
                <key>offset</key>
                <string>{7,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,48},{152,114}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,48},{192,62}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,88},{192,62}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,76},{140,98}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,52},{140,98}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,214},{148,84}}</string>
                <key>offset</key>
                <string>{-24,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,65},{148,84}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,290},{142,80}}</string>
                <key>offset</key>
                <string>{-36,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,66},{142,80}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,300},{148,74}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,98},{148,74}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{186,72}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,86},{186,72}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{222,44}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,90},{222,44}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,112},{154,66}}</string>
                <key>offset</key>
                <string>{-7,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,74},{154,66}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_attack_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{192,66}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,104},{192,66}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_dead_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,180},{140,94}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,53},{140,94}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_dead_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,318},{138,106}}</string>
                <key>offset</key>
                <string>{22,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,40},{138,106}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_dead_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,292},{102,114}}</string>
                <key>offset</key>
                <string>{24,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,39},{102,114}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_dead_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,456},{98,116}}</string>
                <key>offset</key>
                <string>{-25,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,150},{98,116}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_dead_2_.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,76},{140,98}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,52},{140,98}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_dead_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,276},{138,92}}</string>
                <key>offset</key>
                <string>{-22,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,58},{138,92}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_dead_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,218},{100,98}}</string>
                <key>offset</key>
                <string>{-25,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,80},{100,98}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_dead_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,396},{98,112}}</string>
                <key>offset</key>
                <string>{25,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,114},{98,112}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_walk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,180},{140,94}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,53},{140,94}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_walk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,70},{158,96}}</string>
                <key>offset</key>
                <string>{32,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,47},{158,96}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_walk_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,168},{134,88}}</string>
                <key>offset</key>
                <string>{41,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,67},{134,88}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_walk_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,304},{114,92}}</string>
                <key>offset</key>
                <string>{29,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,54},{114,92}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_walk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,76},{140,98}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,52},{140,98}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_walk_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{160,98}}</string>
                <key>offset</key>
                <string>{-32,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,83},{160,98}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_walk_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{136,118}}</string>
                <key>offset</key>
                <string>{-41,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,94},{136,118}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
            <key>enemy_5_walk_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{114,92}}</string>
                <key>offset</key>
                <string>{-30,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,91},{114,92}}</string>
                <key>sourceSize</key>
                <string>{266,282}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03a537d1dfa75f31daacf9d5afa3c85c$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
