<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_1_attack_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,207},{81,85}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,66},{81,85}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{55,101}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,50},{55,101}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,2},{49,101}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,47},{49,101}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,140},{97,65}}</string>
                <key>offset</key>
                <string>{32,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,84},{97,65}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{99,97}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,64},{99,97}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{83,107}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,55},{83,107}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{79,105}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,57},{79,105}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{105,77}}</string>
                <key>offset</key>
                <string>{26,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,70},{105,77}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,59},{79,99}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,64},{79,99}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,255},{85,85}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,78},{85,85}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,205},{89,81}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,83},{89,81}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,156},{77,79}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,61},{77,79}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,146},{97,57}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,90},{97,57}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,288},{83,83}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,61},{83,83}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,342},{79,77}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,58},{79,77}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,81},{103,73}}</string>
                <key>offset</key>
                <string>{-21,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,85},{103,73}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,174},{75,37}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,101},{75,37}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{83,45}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,91},{83,45}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,87},{85,39}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,86},{85,39}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_attack_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,160},{75,67}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,103},{75,67}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_dead_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,178},{91,75}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,79},{91,75}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_dead_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,85},{99,63}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,92},{99,63}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_dead_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,342},{81,77}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,45},{81,77}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_dead_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,85},{107,73}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,81},{107,73}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_dead_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,251},{89,67}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,98},{89,67}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_dead_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,101},{97,75}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,89},{97,75}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_dead_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{81,111}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,28},{81,111}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_dead_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,146},{105,87}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,70},{105,87}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_walk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,65},{109,79}}</string>
                <key>offset</key>
                <string>{19,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,74},{109,79}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_walk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,2},{103,81}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,58},{103,81}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_walk_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,53},{99,91}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,57},{99,91}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_walk_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,97}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,55},{115,97}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_walk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{109,71}}</string>
                <key>offset</key>
                <string>{-13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,79},{109,71}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_walk_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,87},{103,67}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,76},{103,67}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_walk_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,150},{97,63}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,78},{97,63}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_1_walk_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{113,61}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,78},{113,61}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d40e8a7bf92b43fa711f704ed3679052$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
