<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_place_building_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{22,54}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,27},{22,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_place_building_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,954},{92,60}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,40},{92,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_place_building_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,504},{90,56}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,45},{90,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_place_building_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,616},{84,54}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,48},{84,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_place_building_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{68,52}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,50},{68,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_place_building_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,954},{66,52}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,50},{66,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_place_building_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,954},{68,44}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,59},{68,44}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_place_building_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,410},{70,44}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,59},{70,44}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_place_building_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,286}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,111},{150,286}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>action_place_building_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,580},{56,88}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,11},{56,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_place_building_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,224},{64,96}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,11},{64,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_place_building_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,332},{78,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,17},{78,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_place_building_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,370},{84,50}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,47},{84,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_place_building_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,280},{88,50}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,47},{88,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_place_building_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,458},{90,58}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,41},{90,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_place_building_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,504},{74,58}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,42},{74,58}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_recover_hp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,166},{96,186}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,71},{96,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>action_recover_hp_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{184,220}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,54},{184,220}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>action_recover_hp_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{184,214}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,57},{184,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>action_recover_hp_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{188,206}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,67},{188,206}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>action_recover_hp_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,382},{200,200}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,78},{200,200}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>action_recover_hp_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,192},{202,188}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,89},{202,188}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>action_recover_hp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{164,212}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,58},{164,212}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>action_recover_hp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,288},{168,214}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,57},{168,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>action_recover_hp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,290},{172,216}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,56},{172,216}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>action_recover_hp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,512},{176,218}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,55},{176,218}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>action_recover_hp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,734},{178,218}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,55},{178,218}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>action_recover_hp_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{180,218}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,55},{180,218}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>action_recover_hp_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{182,220}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,54},{182,220}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>action_recover_hp_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{182,220}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,54},{182,220}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>action_set_player_destination_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,218},{92,60}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,40},{92,60}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>action_set_player_destination_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,518},{90,56}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,42},{90,56}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>action_set_player_destination_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,600},{82,56}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,42},{82,56}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>action_set_player_destination_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,670},{72,54}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,46},{72,54}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>action_set_player_destination_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,954},{66,54}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,48},{66,54}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>action_set_player_destination_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,544},{58,54}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,54},{58,54}}</string>
                <key>sourceSize</key>
                <string>{256,192}</string>
            </dict>
            <key>action_upgrade_building_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,354},{48,30}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,76},{48,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_upgrade_building_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,112},{52,98}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,13},{52,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_upgrade_building_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,354},{54,92}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,19},{54,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_upgrade_building_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,216},{58,96}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,16},{58,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_upgrade_building_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,100},{14,40}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,41},{14,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_upgrade_building_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,58},{14,40}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,41},{14,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_upgrade_building_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,142},{12,40}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,41},{12,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_upgrade_building_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,184},{12,36}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,40},{12,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_upgrade_building_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,672},{44,80}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,25},{44,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_upgrade_building_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,456},{48,86}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{48,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_upgrade_building_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,576},{52,90}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,20},{52,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_upgrade_building_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,562},{52,90}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,20},{52,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_upgrade_building_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,412},{44,92}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,18},{44,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_upgrade_building_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,276},{54,96}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,15},{54,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_upgrade_building_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{54,98}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,13},{54,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>action_upgrade_building_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,58},{52,98}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,12},{52,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>destination_goal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,954},{118,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{118,62}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>destination_goal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,224},{118,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{118,62}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>destination_goal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,218},{116,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{116,60}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e46df9d8200fc1879d3a58f94c4a362$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
