<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_14_attack_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{149,338}}</string>
                <key>offset</key>
                <string>{-19,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,27},{149,338}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1858},{187,348}}</string>
                <key>offset</key>
                <string>{-23,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,15},{187,348}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1126},{197,360}}</string>
                <key>offset</key>
                <string>{-16,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,3},{197,360}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{285,230}}</string>
                <key>offset</key>
                <string>{57,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,136},{285,230}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1488},{153,358}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,15},{153,358}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1488},{173,358}}</string>
                <key>offset</key>
                <string>{-14,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,6},{173,358}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1494},{175,362}}</string>
                <key>offset</key>
                <string>{-11,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,0},{175,362}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{247,240}}</string>
                <key>offset</key>
                <string>{39,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,128},{247,240}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{223,372}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,19},{223,372}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{223,370}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,6},{223,370}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,376}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,0},{223,376}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1131},{163,252}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,132},{163,252}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,360},{153,340}}</string>
                <key>offset</key>
                <string>{-35,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,31},{153,340}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,360},{175,356}}</string>
                <key>offset</key>
                <string>{-28,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,15},{175,356}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1126},{175,366}}</string>
                <key>offset</key>
                <string>{-31,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,5},{175,366}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,342},{243,304}}</string>
                <key>offset</key>
                <string>{-78,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,153},{243,304}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1066},{223,330}}</string>
                <key>offset</key>
                <string>{-42,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,38},{223,330}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,718},{223,346}}</string>
                <key>offset</key>
                <string>{-42,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,22},{223,346}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{223,356}}</string>
                <key>offset</key>
                <string>{-42,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,12},{223,356}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_attack_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,702},{177,306}}</string>
                <key>offset</key>
                <string>{-29,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,166},{177,306}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_dead_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1848},{297,194}}</string>
                <key>offset</key>
                <string>{-17,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,191},{297,194}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_dead_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1010},{289,268}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,136},{289,268}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_dead_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1581},{215,160}}</string>
                <key>offset</key>
                <string>{-6,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,210},{215,160}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_dead_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1398},{223,296}}</string>
                <key>offset</key>
                <string>{-3,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,171},{223,296}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_dead_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,2},{299,226}}</string>
                <key>offset</key>
                <string>{-25,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,163},{299,226}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_dead_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,648},{289,228}}</string>
                <key>offset</key>
                <string>{-40,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,163},{289,228}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_dead_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,289},{215,272}}</string>
                <key>offset</key>
                <string>{-35,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,177},{215,272}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_dead_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,823},{223,170}}</string>
                <key>offset</key>
                <string>{-39,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,258},{223,170}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_walk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,563},{187,258}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,115},{187,258}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_walk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,276},{201,254}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,114},{201,254}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_walk_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,591},{177,274}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,99},{177,274}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_walk_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,867},{181,262}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,109},{181,262}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_walk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,303},{187,286}}</string>
                <key>offset</key>
                <string>{-49,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,91},{187,286}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_walk_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,2},{201,272}}</string>
                <key>offset</key>
                <string>{-41,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,86},{201,272}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_walk_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1696},{177,292}}</string>
                <key>offset</key>
                <string>{-26,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,69},{177,292}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
            <key>enemy_14_walk_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1301},{183,278}}</string>
                <key>offset</key>
                <string>{-41,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,86},{183,278}}</string>
                <key>sourceSize</key>
                <string>{399,472}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55d45394bb79854e09290c5bf98e9b42$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
