<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>building_4_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,118},{158,114}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{158,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_4_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,340},{116,114}}</string>
                <key>offset</key>
                <string>{-14,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{116,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_4_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,118},{146,118}}</string>
                <key>offset</key>
                <string>{14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{146,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_4_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,234},{118,104}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{118,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_4_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,118}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{158,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_4_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{158,110}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{158,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_4_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{146,106}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,17},{146,106}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_4_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{118,106}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,17},{118,106}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_4_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{158,114}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{158,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_4_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{158,114}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{158,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_4_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,340},{110,98}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,75},{110,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54d02c57c7a909963786ed3dbcc14676$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
