<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage_animation_wave1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,160},{72,42}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{72,42}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>stage_animation_wave1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,86},{72,42}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{72,42}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>stage_animation_wave1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,232},{72,40}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{72,40}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>stage_animation_wave1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{82,42}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{82,42}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>stage_animation_wave1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,308},{72,40}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{72,40}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>stage_animation_wave1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,234},{72,40}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{72,40}}</string>
                <key>sourceSize</key>
                <string>{104,64}</string>
            </dict>
            <key>stage_animation_wave2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,336},{142,106}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,30},{142,106}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>stage_animation_wave2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,118},{146,112}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,20},{146,112}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>stage_animation_wave2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,114}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,19},{148,114}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>stage_animation_wave2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,116}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{148,116}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>stage_animation_wave2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,382},{142,110}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,27},{142,110}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>stage_animation_wave2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,232},{144,110}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,28},{144,110}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>stage_animation_wave2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,224},{146,110}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,26},{146,110}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>stage_animation_wave2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{148,112}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{148,112}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>stage_animation_wave2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,116},{148,106}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{148,106}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>stage_animation_wave2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{146,108}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,23},{146,108}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>stage_animation_wave2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{144,110}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{144,110}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>stage_animation_wave2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{146,110}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{146,110}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cd40a6ae4cf178cec4c203024be9166$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
