<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_18_attack_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,594},{136,118}}</string>
                <key>offset</key>
                <string>{16,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,87},{136,118}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,476},{136,120}}</string>
                <key>offset</key>
                <string>{15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,85},{136,120}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,190},{138,156}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,68},{138,156}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,450},{154,176}}</string>
                <key>offset</key>
                <string>{-11,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,52},{154,176}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,142},{162,204}}</string>
                <key>offset</key>
                <string>{-27,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,0},{162,204}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,330},{122,140}}</string>
                <key>offset</key>
                <string>{18,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,60},{122,140}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,454},{122,138}}</string>
                <key>offset</key>
                <string>{19,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,62},{122,138}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,306},{138,150}}</string>
                <key>offset</key>
                <string>{18,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,50},{138,150}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,292},{192,156}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,51},{192,156}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,2},{208,186}}</string>
                <key>offset</key>
                <string>{-17,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,14},{208,186}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,450},{130,138}}</string>
                <key>offset</key>
                <string>{0,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,54},{130,138}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,468},{130,136}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,56},{130,136}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,450},{174,142}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,50},{174,142}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,148},{264,142}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,50},{264,142}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{292,144}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,49},{292,144}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,446},{122,138}}</string>
                <key>offset</key>
                <string>{-19,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,79},{122,138}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,606},{122,132}}</string>
                <key>offset</key>
                <string>{-20,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,85},{122,132}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,166},{138,160}}</string>
                <key>offset</key>
                <string>{-18,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,71},{138,160}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,306},{192,160}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,57},{192,160}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{210,218}}</string>
                <key>offset</key>
                <string>{17,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,0},{210,218}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,416},{130,146}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,73},{130,146}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,448},{130,138}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,81},{130,138}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{174,156}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,63},{174,156}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{264,172}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,47},{264,172}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_attack_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,182}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,37},{292,182}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_dead_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,330},{136,158}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,43},{136,158}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_dead_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,144},{170,130}}</string>
                <key>offset</key>
                <string>{5,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,67},{170,130}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_dead_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,176},{198,136}}</string>
                <key>offset</key>
                <string>{12,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,68},{198,136}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_dead_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{214,138}}</string>
                <key>offset</key>
                <string>{17,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,79},{214,138}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_dead_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,310},{136,144}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,72},{136,144}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_dead_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,2},{170,168}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,64},{170,168}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_dead_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,142},{198,166}}</string>
                <key>offset</key>
                <string>{-12,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,75},{198,166}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_dead_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{214,138}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,104},{214,138}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_walk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,276},{138,158}}</string>
                <key>offset</key>
                <string>{24,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,42},{138,158}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_walk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,172},{156,158}}</string>
                <key>offset</key>
                <string>{19,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,46},{156,158}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_walk_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{172,162}}</string>
                <key>offset</key>
                <string>{16,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,48},{172,162}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_walk_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,314},{178,160}}</string>
                <key>offset</key>
                <string>{16,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,52},{178,160}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_walk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,310},{138,144}}</string>
                <key>offset</key>
                <string>{-24,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,63},{138,144}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_walk_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,292},{156,144}}</string>
                <key>offset</key>
                <string>{-20,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,67},{156,144}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_walk_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,2},{172,140}}</string>
                <key>offset</key>
                <string>{-17,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,75},{172,140}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_18_walk_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{178,138}}</string>
                <key>offset</key>
                <string>{-16,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,79},{178,138}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a39e4414b9e64b62f73ef1842ccc60c$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
