<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>building_10_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{216,128}}</string>
                <key>offset</key>
                <string>{27,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,51},{216,128}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,260},{208,136}}</string>
                <key>offset</key>
                <string>{30,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,43},{208,136}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{216,128}}</string>
                <key>offset</key>
                <string>{27,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,51},{216,128}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,2},{216,122}}</string>
                <key>offset</key>
                <string>{27,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,57},{216,122}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{216,126}}</string>
                <key>offset</key>
                <string>{27,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,53},{216,126}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,130},{210,138}}</string>
                <key>offset</key>
                <string>{30,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,41},{210,138}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,2},{216,124}}</string>
                <key>offset</key>
                <string>{27,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,55},{216,124}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,2},{216,122}}</string>
                <key>offset</key>
                <string>{27,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,57},{216,122}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{168,180}}</string>
                <key>offset</key>
                <string>{23,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,0},{168,180}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,278},{136,180}}</string>
                <key>offset</key>
                <string>{11,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{136,180}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{156,180}}</string>
                <key>offset</key>
                <string>{19,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,0},{156,180}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,452},{190,156}}</string>
                <key>offset</key>
                <string>{32,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,24},{190,156}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,2},{212,144}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,36},{212,144}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{216,128}}</string>
                <key>offset</key>
                <string>{27,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,52},{216,128}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,128},{210,150}}</string>
                <key>offset</key>
                <string>{30,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,30},{210,150}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,386},{192,156}}</string>
                <key>offset</key>
                <string>{32,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,24},{192,156}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,132},{144,180}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{144,180}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,454},{172,168}}</string>
                <key>offset</key>
                <string>{14,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,12},{172,168}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,292},{160,180}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{160,180}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,280},{128,180}}</string>
                <key>offset</key>
                <string>{-16,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,0},{128,180}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,270},{134,180}}</string>
                <key>offset</key>
                <string>{-10,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{134,180}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{158,172}}</string>
                <key>offset</key>
                <string>{-18,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,8},{158,172}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,270},{136,180}}</string>
                <key>offset</key>
                <string>{-12,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,0},{136,180}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,408},{128,180}}</string>
                <key>offset</key>
                <string>{-16,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,0},{128,180}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,126},{210,134}}</string>
                <key>offset</key>
                <string>{-30,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{210,134}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,130}}</string>
                <key>offset</key>
                <string>{-27,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{216,130}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,126},{212,132}}</string>
                <key>offset</key>
                <string>{-29,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{212,132}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,148},{206,150}}</string>
                <key>offset</key>
                <string>{-16,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,33},{206,150}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,132},{180,160}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,31},{180,160}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,294},{150,178}}</string>
                <key>offset</key>
                <string>{9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,25},{150,178}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,132},{188,158}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{188,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,300},{194,150}}</string>
                <key>offset</key>
                <string>{-23,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{194,150}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,486},{146,170}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,28},{146,170}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,410},{168,168}}</string>
                <key>offset</key>
                <string>{-11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{168,168}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,538},{158,168}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,29},{158,168}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{128,184}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,25},{128,184}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,446},{134,174}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,29},{134,174}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,398},{150,172}}</string>
                <key>offset</key>
                <string>{14,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,28},{150,172}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,416},{136,176}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,28},{136,176}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,300},{128,184}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,25},{128,184}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,2},{98,74}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,136},{98,74}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_idle_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,262},{202,122}}</string>
                <key>offset</key>
                <string>{20,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,57},{202,122}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_idle_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,582},{160,138}}</string>
                <key>offset</key>
                <string>{17,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,42},{160,138}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_idle_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,624},{118,158}}</string>
                <key>offset</key>
                <string>{-11,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,22},{118,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_idle_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,554},{162,146}}</string>
                <key>offset</key>
                <string>{-17,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,34},{162,146}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_10_idle_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,452},{118,166}}</string>
                <key>offset</key>
                <string>{10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,24},{118,166}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c870ac6c250568e40b27b1279e656f7d$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
