<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_2_attack_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,112},{116,76}}</string>
                <key>offset</key>
                <string>{-27,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,126},{116,76}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{108,74}}</string>
                <key>offset</key>
                <string>{-27,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,128},{108,74}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,84}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,120},{162,84}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{152,80}}</string>
                <key>offset</key>
                <string>{-13,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,121},{152,80}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,262},{74,100}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,127},{74,100}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,302},{74,96}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,130},{74,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{108,136}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,96},{108,136}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,40},{102,126}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,106},{102,126}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,270},{38,112}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,125},{38,112}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,88},{40,104}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,131},{40,104}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{42,148}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,89},{42,148}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{36,142}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,98},{36,142}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,324},{76,72}}</string>
                <key>offset</key>
                <string>{15,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,126},{76,72}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,388},{74,70}}</string>
                <key>offset</key>
                <string>{16,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,128},{74,70}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,108},{110,60}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,138},{110,60}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,284},{102,66}}</string>
                <key>offset</key>
                <string>{4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,132},{102,66}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,384},{38,74}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,125},{38,74}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,194},{40,74}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,125},{40,74}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,220},{42,62}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,137},{42,62}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_attack_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,190},{36,66}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,133},{36,66}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_dead_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,298},{108,96}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,134},{108,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_dead_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{120,54}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,172},{120,54}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_dead_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{120,50}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,174},{120,50}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_dead_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,332},{108,76}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,122},{108,76}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_dead_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,46},{120,60}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,139},{120,60}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_dead_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,84},{120,56}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,151},{120,56}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_walk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,218},{104,112}}</string>
                <key>offset</key>
                <string>{-22,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,115},{104,112}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_walk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,108},{118,114}}</string>
                <key>offset</key>
                <string>{-21,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,115},{118,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_walk_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,142},{114,118}}</string>
                <key>offset</key>
                <string>{-18,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,111},{114,118}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_walk_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,76},{112,116}}</string>
                <key>offset</key>
                <string>{-15,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,113},{112,116}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_walk_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{112,116}}</string>
                <key>offset</key>
                <string>{-12,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,114},{112,116}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_walk_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{108,118}}</string>
                <key>offset</key>
                <string>{-13,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,116},{108,118}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_walk_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,116},{110,116}}</string>
                <key>offset</key>
                <string>{-18,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,116},{110,116}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_walk_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,190},{110,112}}</string>
                <key>offset</key>
                <string>{-22,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,116},{110,112}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_walk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,228},{104,72}}</string>
                <key>offset</key>
                <string>{22,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,126},{104,72}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_walk_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{118,72}}</string>
                <key>offset</key>
                <string>{20,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,126},{118,72}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_walk_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,144},{114,72}}</string>
                <key>offset</key>
                <string>{18,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,126},{114,72}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_walk_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,258},{112,72}}</string>
                <key>offset</key>
                <string>{14,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,127},{112,72}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_walk_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,224},{112,72}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,127},{112,72}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_walk_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,190},{108,70}}</string>
                <key>offset</key>
                <string>{12,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,129},{108,70}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_walk_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{112,70}}</string>
                <key>offset</key>
                <string>{17,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,128},{112,70}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_2_walk_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{110,72}}</string>
                <key>offset</key>
                <string>{21,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,126},{110,72}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c82989b5d5cb0a664b2b26a366016f1c$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
