<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>building_6_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{186,104}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,78},{186,104}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_6_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,104}}</string>
                <key>offset</key>
                <string>{28,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{214,104}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_6_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{208,102}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,80},{208,102}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_6_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,166},{150,130}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,52},{150,130}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_6_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{174,150}}</string>
                <key>offset</key>
                <string>{23,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,32},{174,150}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_6_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{164,142}}</string>
                <key>offset</key>
                <string>{16,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,40},{164,142}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_6_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,172},{52,150}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,35},{52,150}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_6_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,108},{56,168}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,17},{56,168}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_6_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,118},{52,164}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,21},{52,164}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_6_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,146},{150,116}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,66},{150,116}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_6_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,106},{180,124}}</string>
                <key>offset</key>
                <string>{-27,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,66},{180,124}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_6_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{168,114}}</string>
                <key>offset</key>
                <string>{-19,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,68},{168,114}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_6_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,160},{52,132}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,57},{52,132}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_6_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{58,156}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,57},{58,156}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_6_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,226},{52,144}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,57},{52,144}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_6_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,214},{122,92}}</string>
                <key>offset</key>
                <string>{-1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,128},{122,92}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2eb6edb6f774fcb858bf2426f09e44c$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
