<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_13_attack_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{278,216}}</string>
                <key>offset</key>
                <string>{-99,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,122},{278,216}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,380},{266,170}}</string>
                <key>offset</key>
                <string>{-111,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,144},{266,170}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,376}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,4},{450,376}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,144},{158,288}}</string>
                <key>offset</key>
                <string>{51,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,14},{158,288}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,340},{140,256}}</string>
                <key>offset</key>
                <string>{-22,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,130},{140,256}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{134,258}}</string>
                <key>offset</key>
                <string>{-41,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,131},{134,258}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,2},{336,362}}</string>
                <key>offset</key>
                <string>{80,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,15},{336,362}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,2},{140,290}}</string>
                <key>offset</key>
                <string>{-23,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,37},{140,290}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,648},{158,252}}</string>
                <key>offset</key>
                <string>{29,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,119},{158,252}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,902},{150,236}}</string>
                <key>offset</key>
                <string>{23,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,149},{150,236}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{448,356}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{448,356}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,304},{282,208}}</string>
                <key>offset</key>
                <string>{-104,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,78},{282,208}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{140,238}}</string>
                <key>offset</key>
                <string>{23,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,63},{140,238}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{134,260}}</string>
                <key>offset</key>
                <string>{41,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,74},{134,260}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,278},{334,242}}</string>
                <key>offset</key>
                <string>{-80,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,102},{334,242}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1140},{140,186}}</string>
                <key>offset</key>
                <string>{23,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,154},{140,186}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,360},{160,268}}</string>
                <key>offset</key>
                <string>{-39,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,52},{160,268}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,630},{150,240}}</string>
                <key>offset</key>
                <string>{-33,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,53},{150,240}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{446,274}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,86},{446,274}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_attack_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,360},{280,162}}</string>
                <key>offset</key>
                <string>{94,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,150},{280,162}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_dead_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,482},{246,240}}</string>
                <key>offset</key>
                <string>{22,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,90},{246,240}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_dead_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,554},{218,224}}</string>
                <key>offset</key>
                <string>{43,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,100},{218,224}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_dead_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,522},{242,144}}</string>
                <key>offset</key>
                <string>{71,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,143},{242,144}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_dead_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,524},{270,138}}</string>
                <key>offset</key>
                <string>{65,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,146},{270,138}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_dead_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,514},{246,222}}</string>
                <key>offset</key>
                <string>{-21,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,89},{246,222}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_dead_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,724},{218,188}}</string>
                <key>offset</key>
                <string>{-41,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,124},{218,188}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_dead_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,664},{240,148}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,158},{240,148}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_dead_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{272,154}}</string>
                <key>offset</key>
                <string>{-63,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,164},{272,154}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_walk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,668},{234,218}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,110},{234,218}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_walk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,814},{222,238}}</string>
                <key>offset</key>
                <string>{35,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,99},{222,238}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_walk_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1038},{234,210}}</string>
                <key>offset</key>
                <string>{31,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,107},{234,210}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_walk_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,340},{212,216}}</string>
                <key>offset</key>
                <string>{39,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,103},{212,216}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_walk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,872},{234,198}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,104},{234,198}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_walk_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1168},{222,188}}</string>
                <key>offset</key>
                <string>{-33,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,110},{222,188}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_walk_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,738},{242,204}}</string>
                <key>offset</key>
                <string>{-26,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,104},{242,204}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
            <key>enemy_13_walk_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,888},{212,190}}</string>
                <key>offset</key>
                <string>{-34,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,109},{212,190}}</string>
                <key>sourceSize</key>
                <string>{496,390}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1fb28b4223d78eb0ae507d0132d17c2$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
