<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_4_attack_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,302},{137,123}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,51},{137,123}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,560},{109,123}}</string>
                <key>offset</key>
                <string>{-35,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,51},{109,123}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,698},{101,125}}</string>
                <key>offset</key>
                <string>{-31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,49},{101,125}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,581},{115,139}}</string>
                <key>offset</key>
                <string>{25,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,35},{115,139}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,147},{155,113}}</string>
                <key>offset</key>
                <string>{-27,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,79},{155,113}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{147,107}}</string>
                <key>offset</key>
                <string>{-32,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,86},{147,107}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,155},{145,103}}</string>
                <key>offset</key>
                <string>{-31,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,89},{145,103}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,131},{159,127}}</string>
                <key>offset</key>
                <string>{-9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,57},{159,127}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,379},{151,99}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,52},{151,99}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,2},{151,83}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,73},{151,83}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,260},{151,67}}</string>
                <key>offset</key>
                <string>{-11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,84},{151,67}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{155,99}}</string>
                <key>offset</key>
                <string>{-11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{155,99}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,413},{145,107}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,75},{145,107}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,522},{139,117}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,62},{139,117}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,486},{137,119}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,60},{137,119}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,353},{151,131}}</string>
                <key>offset</key>
                <string>{-24,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,55},{151,131}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,367},{151,117}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,57},{151,117}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,262},{151,115}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,27},{151,115}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{151,113}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,29},{151,113}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_attack_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,248},{155,117}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,62},{155,117}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_dead_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,119},{163,119}}</string>
                <key>offset</key>
                <string>{-28,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,78},{163,119}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_dead_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,109},{163,137}}</string>
                <key>offset</key>
                <string>{-27,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,52},{163,137}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_dead_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{171,105}}</string>
                <key>offset</key>
                <string>{-17,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{171,105}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_dead_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,240},{159,111}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,59},{159,111}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_dead_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,413},{145,107}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,75},{145,107}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_dead_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,480},{145,99}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,60},{145,99}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_dead_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,260},{151,151}}</string>
                <key>offset</key>
                <string>{-16,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_dead_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{143,125}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,50},{143,125}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_walk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,641},{131,117}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,57},{131,117}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_walk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{171,127}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,54},{171,127}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_walk_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,133}}</string>
                <key>offset</key>
                <string>{13,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,57},{205,133}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_walk_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{195,143}}</string>
                <key>offset</key>
                <string>{7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,52},{195,143}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_walk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{115,101}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,72},{115,101}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_walk_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,427},{151,115}}</string>
                <key>offset</key>
                <string>{-7,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,74},{151,115}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_walk_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{181,115}}</string>
                <key>offset</key>
                <string>{-11,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,72},{181,115}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_4_walk_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,2},{171,115}}</string>
                <key>offset</key>
                <string>{-6,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,77},{171,115}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95741930d1feb668357dd5da110296bd$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
