<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_3_attack_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,76},{146,78}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,135},{146,78}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{130,84}}</string>
                <key>offset</key>
                <string>{-17,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,127},{130,84}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{156,74}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,138},{156,74}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{154,72}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,143},{154,72}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,240},{114,98}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,130},{114,98}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{104,108}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,121},{104,108}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,78},{122,98}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,130},{122,98}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,138},{120,92}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,136},{120,92}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,260},{96,114}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,126},{96,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,88},{96,126}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,114},{96,126}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,186},{96,116}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,124},{96,116}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,300},{96,110}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,130},{96,110}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,284},{114,68}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,138},{114,68}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,202},{104,70}}</string>
                <key>offset</key>
                <string>{7,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,123},{104,70}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,178},{120,80}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,144},{120,80}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,156},{120,82}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,144},{120,82}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,264},{96,70}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,136},{96,70}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,166},{96,62}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,119},{96,62}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{96,96}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,136},{96,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_attack_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,346},{96,96}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,137},{96,96}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_dead_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{162,134}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,111},{162,134}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_dead_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{184,162}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,103},{184,162}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_dead_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,198}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,84},{216,198}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_walk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,166},{118,88}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,140},{118,88}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_walk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,354},{110,88}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,137},{110,88}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_walk_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,256},{102,88}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,134},{102,88}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_walk_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,186},{112,88}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,137},{112,88}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_walk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,232},{118,82}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,144},{118,82}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_walk_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,398},{110,80}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,143},{110,80}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_walk_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,274},{102,82}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,139},{102,82}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>enemy_3_walk_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,340},{112,80}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,143},{112,80}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f32c86eb2d30b12f46a76d6fb21ad60$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
