<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>building_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{134,76}}</string>
                <key>offset</key>
                <string>{-21,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,69},{134,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,292},{104,120}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{104,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{112,112}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,57},{112,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,414},{88,98}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,47},{88,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{72,128}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,52},{72,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{72,84}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,61},{72,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_1_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{134,76}}</string>
                <key>offset</key>
                <string>{23,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,68},{134,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_1_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,138},{102,120}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,24},{102,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_1_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,260},{112,84}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,61},{112,84}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_1_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{88,136}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,9},{88,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_1_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,116},{72,100}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,51},{72,100}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,150}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,1},{72,150}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_1_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,374},{106,86}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,82},{106,86}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5dc49194fabfb50c5e617bbbcc98d4e$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
