<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_9_attack_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,147},{113,147}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,12},{113,147}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{187,143}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,17},{187,143}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,143}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,15},{187,143}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,147},{113,147}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,12},{113,147}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{119,155}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,7},{119,155}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,151},{149,147}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,14},{149,147}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{151,147}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,12},{151,147}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,204},{113,149}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,12},{113,149}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{125,161}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,9},{125,161}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{103,149}}</string>
                <key>offset</key>
                <string>{-24,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,13},{103,149}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{101,151}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,11},{101,151}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,129},{101,151}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,13},{101,151}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,456},{111,125}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,19},{111,125}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{137,127}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{137,127}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,234},{137,113}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,37},{137,113}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,349},{105,133}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,23},{105,133}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,417},{103,131}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,24},{103,131}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,262},{101,141}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,18},{101,141}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{101,143}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,27},{101,143}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_attack_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,417},{103,131}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,24},{103,131}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_dead_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,232},{115,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,27},{115,141}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_dead_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,363},{131,131}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,31},{131,131}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_dead_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,454},{123,131}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,29},{123,131}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_dead_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,105},{151,97}}</string>
                <key>offset</key>
                <string>{14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,78},{151,97}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_dead_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,300},{115,135}}</string>
                <key>offset</key>
                <string>{-19,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,25},{115,135}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_dead_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,319},{133,113}}</string>
                <key>offset</key>
                <string>{-21,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,64},{133,113}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_dead_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,470},{125,109}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,66},{125,109}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_dead_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,123},{151,109}}</string>
                <key>offset</key>
                <string>{-33,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,82},{151,109}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_walk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,349},{103,133}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,18},{103,133}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_walk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,581},{109,121}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,25},{109,121}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_walk_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,365},{103,133}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,18},{103,133}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_walk_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{111,119}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,26},{111,119}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_walk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,569},{103,125}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,25},{103,125}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_walk_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,234},{109,127}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,21},{109,127}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_walk_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{103,125}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,25},{103,125}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
            <key>enemy_9_walk_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,496},{111,127}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,19},{111,127}}</string>
                <key>sourceSize</key>
                <string>{243,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:001bd88f92622835ae64b1fe0c5d40b5$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
