<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>building_2_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,114}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{150,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{64,112}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,13},{64,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_2_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{130,100}}</string>
                <key>offset</key>
                <string>{-13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{130,100}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,200},{108,94}}</string>
                <key>offset</key>
                <string>{-24,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{108,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_2_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{142,110}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{142,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,104},{142,94}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{142,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_2_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,126},{130,118}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,8},{130,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_2_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{110,118}}</string>
                <key>offset</key>
                <string>{22,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{110,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_2_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{142,122}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{142,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_2_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{142,100}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{142,100}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>building_2_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,332},{110,98}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,72},{110,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9669001b4650c0a9f1d9109ff8797d5$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
