<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile_animation_sea_wave_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{74,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{74,32}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>tile_animation_sea_wave_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{74,32}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>tile_animation_sea_wave_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{74,32}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tile_animation.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82fe609788109712701d6f4b5180ee4e$</string>
            <key>textureFileName</key>
            <string>tile_animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
