<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_7_attack_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,548},{118,144}}</string>
                <key>offset</key>
                <string>{31,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,58},{118,144}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,838},{138,138}}</string>
                <key>offset</key>
                <string>{25,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,72},{138,138}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,802},{128,138}}</string>
                <key>offset</key>
                <string>{19,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,72},{128,138}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{124,140}}</string>
                <key>offset</key>
                <string>{28,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,66},{124,140}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,146},{146,150}}</string>
                <key>offset</key>
                <string>{16,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,49},{146,150}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,414},{132,148}}</string>
                <key>offset</key>
                <string>{35,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,66},{132,148}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,294},{132,148}}</string>
                <key>offset</key>
                <string>{35,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,66},{132,148}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,278},{126,148}}</string>
                <key>offset</key>
                <string>{31,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,59},{126,148}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{106,150}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,55},{106,150}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{140,166}}</string>
                <key>offset</key>
                <string>{26,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,52},{140,166}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{140,158}}</string>
                <key>offset</key>
                <string>{26,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,60},{140,158}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,132},{132,156}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,56},{132,156}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,400},{146,138}}</string>
                <key>offset</key>
                <string>{-16,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,68},{146,138}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,266},{132,148}}</string>
                <key>offset</key>
                <string>{-35,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,58},{132,148}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,144},{132,148}}</string>
                <key>offset</key>
                <string>{-35,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,58},{132,148}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,428},{126,144}}</string>
                <key>offset</key>
                <string>{-32,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,62},{126,144}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,682},{106,126}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,71},{106,126}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{140,132}}</string>
                <key>offset</key>
                <string>{-26,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,65},{140,132}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,668},{140,132}}</string>
                <key>offset</key>
                <string>{-26,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,65},{140,132}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_attack_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,790},{132,128}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,69},{132,128}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_dead_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,146},{146,150}}</string>
                <key>offset</key>
                <string>{16,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,49},{146,150}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_dead_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,556},{124,142}}</string>
                <key>offset</key>
                <string>{29,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,56},{124,142}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_dead_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,142},{182,140}}</string>
                <key>offset</key>
                <string>{59,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,66},{182,140}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_dead_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{216,138}}</string>
                <key>offset</key>
                <string>{57,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,62},{216,138}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_dead_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,400},{146,138}}</string>
                <key>offset</key>
                <string>{-16,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,68},{146,138}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_dead_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,548},{124,132}}</string>
                <key>offset</key>
                <string>{-30,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,100},{124,132}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_dead_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{182,142}}</string>
                <key>offset</key>
                <string>{-59,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,148},{182,142}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_dead_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,156}}</string>
                <key>offset</key>
                <string>{-58,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,147},{216,156}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_walk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{128,166}}</string>
                <key>offset</key>
                <string>{39,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,42},{128,166}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_walk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{142,142}}</string>
                <key>offset</key>
                <string>{39,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,51},{142,142}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_walk_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{148,148}}</string>
                <key>offset</key>
                <string>{29,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,43},{148,148}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_walk_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,406},{142,146}}</string>
                <key>offset</key>
                <string>{39,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,52},{142,146}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_walk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,284},{128,150}}</string>
                <key>offset</key>
                <string>{-39,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,61},{128,150}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_walk_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,410},{142,136}}</string>
                <key>offset</key>
                <string>{-40,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,69},{142,136}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_walk_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,278},{148,130}}</string>
                <key>offset</key>
                <string>{-30,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,61},{148,130}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
            <key>enemy_7_walk_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,540},{142,126}}</string>
                <key>offset</key>
                <string>{-40,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,69},{142,126}}</string>
                <key>sourceSize</key>
                <string>{336,346}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c228a406308d8e7758fff20e2b7a12a3$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
