<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{162,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{162,148}}</string>
                <key>sourceSize</key>
                <string>{174,182}</string>
            </dict>
            <key>boss_background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,300},{162,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{162,148}}</string>
                <key>sourceSize</key>
                <string>{174,182}</string>
            </dict>
            <key>building_explosion_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,336},{140,92}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,183},{140,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>building_explosion_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,384},{158,108}}</string>
                <key>offset</key>
                <string>{-2,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,164},{158,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>building_explosion_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,168},{232,130}}</string>
                <key>offset</key>
                <string>{-5,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,144},{232,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>building_explosion_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{236,164}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,110},{236,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>building_explosion_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{284,214}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,55},{284,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>building_explosion_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,188}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,82},{290,188}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>building_explosion_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{252,166}}</string>
                <key>offset</key>
                <string>{-4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,101},{252,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>building_explosion_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,81},{234,186}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,83},{234,186}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_burning_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,299},{175,83}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,105},{175,83}}</string>
                <key>sourceSize</key>
                <string>{257,257}</string>
            </dict>
            <key>effect_burning_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{191,77}}</string>
                <key>offset</key>
                <string>{15,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,111},{191,77}}</string>
                <key>sourceSize</key>
                <string>{257,257}</string>
            </dict>
            <key>effect_burning_fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,218},{205,79}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,109},{205,79}}</string>
                <key>sourceSize</key>
                <string>{257,257}</string>
            </dict>
            <key>effect_drop_stone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,218},{116,114}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{116,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>effect_drop_stone_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,430},{112,106}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{112,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94669b6592feceae4576154942d0f85c$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
