<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_effect_blood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,100},{96,84}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{96,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hit_effect_dizzy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,932},{51,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{51,41}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>hit_effect_dizzy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,932},{51,43}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>hit_effect_dizzy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,932},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>hit_effect_dusty_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,870},{144,110}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,92},{144,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_effect_dusty_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,378},{228,126}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,76},{228,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_effect_dusty_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,608},{192,110}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,92},{192,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_effect_explosion1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,616},{184,186}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,40},{184,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_effect_explosion1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,802},{190,208}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,15},{190,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_effect_explosion1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,640},{190,218}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,6},{190,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_effect_rocket_explosion_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{100,68}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,113},{100,68}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hit_effect_rocket_explosion_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,492},{156,122}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,68},{156,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hit_effect_rocket_explosion_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,860},{208,162}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,47},{208,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>hit_effect_spider_web_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,274},{128,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{128,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hit_effect_venom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,932},{56,56}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{56,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hit_effect_venom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,198},{74,76}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{74,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hit_effect_venom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,802},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skill_effect_earth_slash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{96,94}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,132},{96,94}}</string>
                <key>sourceSize</key>
                <string>{174,246}</string>
            </dict>
            <key>skill_effect_earth_slash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,870},{106,132}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,97},{106,132}}</string>
                <key>sourceSize</key>
                <string>{174,246}</string>
            </dict>
            <key>skill_effect_earth_slash_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,640},{170,228}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{170,228}}</string>
                <key>sourceSize</key>
                <string>{174,246}</string>
            </dict>
            <key>skill_effect_shock_wave_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,474},{242,164}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,88},{242,164}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>skill_effect_shock_wave_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,222},{304,268}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,51},{304,268}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>skill_effect_shock_wave_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{338,218}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,51},{338,218}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>skill_effect_shock_wave_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{584,470}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{584,470}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>skill_effect_shock_wave_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{438,284}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,12},{438,284}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e776cb36aab526f4bc60981edfdd70a$</string>
            <key>textureFileName</key>
            <string>hit.pvr.ccz</string>
        </dict>
    </dict>
</plist>
