<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hurricane_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{270,248}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,99},{270,248}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hurricane_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,262}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,85},{274,262}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hurricane_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{270,248}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,99},{270,248}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hurricane_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,262}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,85},{274,262}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hurricane_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{250,260}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,83},{250,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hurricane_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,264},{226,246}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,76},{226,246}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hurricane_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{226,260}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{226,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hurricane_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{274,214}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,92},{274,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hurricane_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{226,260}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{226,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hurricane_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,264},{226,246}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,76},{226,246}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>hurricane_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{250,260}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,83},{250,260}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurricane.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a75147a381a42c0ab4214b6fc97e074a$</string>
            <key>textureFileName</key>
            <string>hurricane.pvr.ccz</string>
        </dict>
    </dict>
</plist>
