<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_effect_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,401},{57,31}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,110},{57,31}}</string>
                <key>sourceSize</key>
                <string>{143,151}</string>
            </dict>
            <key>magic_effect_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{107,37}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,106},{107,37}}</string>
                <key>sourceSize</key>
                <string>{143,151}</string>
            </dict>
            <key>magic_effect_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,401},{93,39}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,103},{93,39}}</string>
                <key>sourceSize</key>
                <string>{143,151}</string>
            </dict>
            <key>magic_effect_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,401},{87,43}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,101},{87,43}}</string>
                <key>sourceSize</key>
                <string>{143,151}</string>
            </dict>
            <key>magic_effect_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,141},{127,45}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,98},{127,45}}</string>
                <key>sourceSize</key>
                <string>{143,151}</string>
            </dict>
            <key>magic_effect_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{125,129}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{125,129}}</string>
                <key>sourceSize</key>
                <string>{143,151}</string>
            </dict>
            <key>magic_effect_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,137}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{131,137}}</string>
                <key>sourceSize</key>
                <string>{143,151}</string>
            </dict>
            <key>magic_effect_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{127,115}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{127,115}}</string>
                <key>sourceSize</key>
                <string>{143,151}</string>
            </dict>
            <key>magic_effect_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{125,113}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,31},{125,113}}</string>
                <key>sourceSize</key>
                <string>{143,151}</string>
            </dict>
            <key>magic_effect_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,272},{127,47}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,97},{127,47}}</string>
                <key>sourceSize</key>
                <string>{143,151}</string>
            </dict>
            <key>magic_effect_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,460},{113,47}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,97},{113,47}}</string>
                <key>sourceSize</key>
                <string>{143,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic2.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:350e20b18fa43b1e008d165352bd68b1$</string>
            <key>textureFileName</key>
            <string>magic2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
