<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_effect_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{164,132}}</string>
                <key>offset</key>
                <string>{-23,181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,9},{164,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>magic_effect_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{334,206}}</string>
                <key>offset</key>
                <string>{1,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,261},{334,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>magic_effect_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,838},{258,160}}</string>
                <key>offset</key>
                <string>{-1,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,287},{258,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>magic_effect_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,444},{152,132}}</string>
                <key>offset</key>
                <string>{-23,182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,8},{152,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>magic_effect_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,286},{156,132}}</string>
                <key>offset</key>
                <string>{-23,183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,7},{156,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>magic_effect_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,826},{132,160}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,173},{132,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>magic_effect_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,286},{130,152}}</string>
                <key>offset</key>
                <string>{-8,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,231},{130,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>magic_effect_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,502},{322,190}}</string>
                <key>offset</key>
                <string>{-2,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,269},{322,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>magic_effect_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{382,238}}</string>
                <key>offset</key>
                <string>{-2,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,226},{382,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>magic_effect_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{444,282}}</string>
                <key>offset</key>
                <string>{3,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,206},{444,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>magic_effect_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,258}}</string>
                <key>offset</key>
                <string>{20,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,236},{458,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d075db8c4a4ee141fa1f2974e8a71e1$</string>
            <key>textureFileName</key>
            <string>magic1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
