<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>environment_seawave1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,664},{462,322}}</string>
                <key>offset</key>
                <string>{74,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,102},{462,322}}</string>
                <key>sourceSize</key>
                <string>{740,460}</string>
            </dict>
            <key>environment_seawave1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,336},{486,326}}</string>
                <key>offset</key>
                <string>{79,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,97},{486,326}}</string>
                <key>sourceSize</key>
                <string>{740,460}</string>
            </dict>
            <key>environment_seawave1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{494,332}}</string>
                <key>offset</key>
                <string>{72,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,95},{494,332}}</string>
                <key>sourceSize</key>
                <string>{740,460}</string>
            </dict>
            <key>environment_seawave1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{512,332}}</string>
                <key>offset</key>
                <string>{50,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,96},{512,332}}</string>
                <key>sourceSize</key>
                <string>{740,460}</string>
            </dict>
            <key>environment_seawave1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{514,338}}</string>
                <key>offset</key>
                <string>{45,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,96},{514,338}}</string>
                <key>sourceSize</key>
                <string>{740,460}</string>
            </dict>
            <key>environment_seawave1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{512,340}}</string>
                <key>offset</key>
                <string>{39,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,97},{512,340}}</string>
                <key>sourceSize</key>
                <string>{740,460}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a18b732cb8b02306031bac84d6d8bf6$</string>
            <key>textureFileName</key>
            <string>1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
