<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>environment_map106_fountain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,2},{213,190}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,37},{213,190}}</string>
                <key>sourceSize</key>
                <string>{343,276}</string>
            </dict>
            <key>environment_map106_fountain_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,286},{207,206}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,29},{207,206}}</string>
                <key>sourceSize</key>
                <string>{343,276}</string>
            </dict>
            <key>environment_map106_fountain_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,896},{227,226}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,22},{227,226}}</string>
                <key>sourceSize</key>
                <string>{343,276}</string>
            </dict>
            <key>environment_map106_fountain_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,494},{207,202}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,29},{207,202}}</string>
                <key>sourceSize</key>
                <string>{343,276}</string>
            </dict>
            <key>environment_map106_fountain_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,698},{205,196}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,41},{205,196}}</string>
                <key>sourceSize</key>
                <string>{343,276}</string>
            </dict>
            <key>environment_map106_wave1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,749},{747,292}}</string>
                <key>offset</key>
                <string>{-10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{747,292}}</string>
                <key>sourceSize</key>
                <string>{767,338}</string>
            </dict>
            <key>environment_map106_wave1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,884},{737,290}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{737,290}}</string>
                <key>sourceSize</key>
                <string>{767,338}</string>
            </dict>
            <key>environment_map106_wave1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{727,290}}</string>
                <key>offset</key>
                <string>{-20,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{727,290}}</string>
                <key>sourceSize</key>
                <string>{767,338}</string>
            </dict>
            <key>environment_map106_wave1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2},{745,294}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{745,294}}</string>
                <key>sourceSize</key>
                <string>{767,338}</string>
            </dict>
            <key>environment_map106_wave1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{763,292}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{763,292}}</string>
                <key>sourceSize</key>
                <string>{767,338}</string>
            </dict>
            <key>environment_map106_wave1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{761,292}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{761,292}}</string>
                <key>sourceSize</key>
                <string>{767,338}</string>
            </dict>
            <key>environment_map106_wave1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,298},{761,292}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{761,292}}</string>
                <key>sourceSize</key>
                <string>{767,338}</string>
            </dict>
            <key>environment_map106_wave1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{761,294}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{761,294}}</string>
                <key>sourceSize</key>
                <string>{767,338}</string>
            </dict>
            <key>environment_map106_wave1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{761,292}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{761,292}}</string>
                <key>sourceSize</key>
                <string>{767,338}</string>
            </dict>
            <key>environment_map106_wave1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,592},{757,290}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{757,290}}</string>
                <key>sourceSize</key>
                <string>{767,338}</string>
            </dict>
            <key>environment_map106_wave1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1498},{745,290}}</string>
                <key>offset</key>
                <string>{-11,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{745,290}}</string>
                <key>sourceSize</key>
                <string>{767,338}</string>
            </dict>
            <key>environment_map106_wave2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,194},{209,90}}</string>
                <key>offset</key>
                <string>{43,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,108},{209,90}}</string>
                <key>sourceSize</key>
                <string>{295,292}</string>
            </dict>
            <key>environment_map106_wave2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1124},{205,88}}</string>
                <key>offset</key>
                <string>{45,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,111},{205,88}}</string>
                <key>sourceSize</key>
                <string>{295,292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map106.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:761faa4e300724f8990463e4bb442269$</string>
            <key>textureFileName</key>
            <string>map106.pvr.ccz</string>
        </dict>
    </dict>
</plist>
