<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>environment_map101_seawave1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,816},{462,322}}</string>
                <key>offset</key>
                <string>{74,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,102},{462,322}}</string>
                <key>sourceSize</key>
                <string>{740,460}</string>
            </dict>
            <key>environment_map101_seawave1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,670},{486,326}}</string>
                <key>offset</key>
                <string>{79,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,97},{486,326}}</string>
                <key>sourceSize</key>
                <string>{740,460}</string>
            </dict>
            <key>environment_map101_seawave1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,336},{494,332}}</string>
                <key>offset</key>
                <string>{72,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,95},{494,332}}</string>
                <key>sourceSize</key>
                <string>{740,460}</string>
            </dict>
            <key>environment_map101_seawave1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,2},{512,332}}</string>
                <key>offset</key>
                <string>{50,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,96},{512,332}}</string>
                <key>sourceSize</key>
                <string>{740,460}</string>
            </dict>
            <key>environment_map101_seawave1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1280},{514,338}}</string>
                <key>offset</key>
                <string>{45,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,96},{514,338}}</string>
                <key>sourceSize</key>
                <string>{740,460}</string>
            </dict>
            <key>environment_map101_seawave1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1280},{512,340}}</string>
                <key>offset</key>
                <string>{39,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,97},{512,340}}</string>
                <key>sourceSize</key>
                <string>{740,460}</string>
            </dict>
            <key>environment_map101_seawave2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1904},{184,122}}</string>
                <key>offset</key>
                <string>{15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,96},{184,122}}</string>
                <key>sourceSize</key>
                <string>{352,258}</string>
            </dict>
            <key>environment_map101_seawave2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1904},{184,122}}</string>
                <key>offset</key>
                <string>{7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,92},{184,122}}</string>
                <key>sourceSize</key>
                <string>{352,258}</string>
            </dict>
            <key>environment_map101_seawave2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1904},{184,122}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,91},{184,122}}</string>
                <key>sourceSize</key>
                <string>{352,258}</string>
            </dict>
            <key>environment_map101_seawave2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1904},{184,122}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,88},{184,122}}</string>
                <key>sourceSize</key>
                <string>{352,258}</string>
            </dict>
            <key>environment_map101_seawave2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1796},{184,120}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,84},{184,120}}</string>
                <key>sourceSize</key>
                <string>{352,258}</string>
            </dict>
            <key>environment_map101_seawave3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,816},{478,334}}</string>
                <key>offset</key>
                <string>{-410,214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,131},{478,334}}</string>
                <key>sourceSize</key>
                <string>{1600,1024}</string>
            </dict>
            <key>environment_map101_seawave3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,336},{478,332}}</string>
                <key>offset</key>
                <string>{-415,211}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,135},{478,332}}</string>
                <key>sourceSize</key>
                <string>{1600,1024}</string>
            </dict>
            <key>environment_map101_seawave4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{812,398}}</string>
                <key>offset</key>
                <string>{-349,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,313},{812,398}}</string>
                <key>sourceSize</key>
                <string>{1600,1024}</string>
            </dict>
            <key>environment_map101_seawave4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1280},{622,400}}</string>
                <key>offset</key>
                <string>{-255,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,313},{622,400}}</string>
                <key>sourceSize</key>
                <string>{1600,1024}</string>
            </dict>
            <key>environment_map101_sunshine_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{676,1276}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{676,1276}}</string>
                <key>sourceSize</key>
                <string>{736,1292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map101.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc7cdd4c460289722d788f80fed35602$</string>
            <key>textureFileName</key>
            <string>map101.pvr.ccz</string>
        </dict>
    </dict>
</plist>
