<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>environment_map109_seaweed1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,257},{253,200}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{253,200}}</string>
                <key>sourceSize</key>
                <string>{277,266}</string>
            </dict>
            <key>environment_map109_seaweed1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{263,186}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{263,186}}</string>
                <key>sourceSize</key>
                <string>{277,266}</string>
            </dict>
            <key>environment_map109_seaweed1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{265,188}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{265,188}}</string>
                <key>sourceSize</key>
                <string>{277,266}</string>
            </dict>
            <key>environment_map109_seaweed1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{263,186}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{263,186}}</string>
                <key>sourceSize</key>
                <string>{277,266}</string>
            </dict>
            <key>environment_map109_seaweed1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{253,200}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{253,200}}</string>
                <key>sourceSize</key>
                <string>{277,266}</string>
            </dict>
            <key>environment_map109_seaweed1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,352},{245,196}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{245,196}}</string>
                <key>sourceSize</key>
                <string>{277,266}</string>
            </dict>
            <key>environment_map109_seaweed1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,344},{247,192}}</string>
                <key>offset</key>
                <string>{-13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{247,192}}</string>
                <key>sourceSize</key>
                <string>{277,266}</string>
            </dict>
            <key>environment_map109_seaweed1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,512},{245,196}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{245,196}}</string>
                <key>sourceSize</key>
                <string>{277,266}</string>
            </dict>
            <key>environment_map109_seaweed2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,474},{60,103}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,18},{60,103}}</string>
                <key>sourceSize</key>
                <string>{140,135}</string>
            </dict>
            <key>environment_map109_seaweed2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,538},{56,95}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,23},{56,95}}</string>
                <key>sourceSize</key>
                <string>{140,135}</string>
            </dict>
            <key>environment_map109_seaweed2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,599},{54,101}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,20},{54,101}}</string>
                <key>sourceSize</key>
                <string>{140,135}</string>
            </dict>
            <key>environment_map109_seaweed2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{58,103}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,16},{58,103}}</string>
                <key>sourceSize</key>
                <string>{140,135}</string>
            </dict>
            <key>environment_map109_seaweed2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{58,107}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{58,107}}</string>
                <key>sourceSize</key>
                <string>{140,135}</string>
            </dict>
            <key>environment_map109_seaweed3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,536},{61,102}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,13},{61,102}}</string>
                <key>sourceSize</key>
                <string>{123,126}</string>
            </dict>
            <key>environment_map109_seaweed3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{57,96}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,16},{57,96}}</string>
                <key>sourceSize</key>
                <string>{123,126}</string>
            </dict>
            <key>environment_map109_seaweed3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{53,102}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,13},{53,102}}</string>
                <key>sourceSize</key>
                <string>{123,126}</string>
            </dict>
            <key>environment_map109_seaweed3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{57,104}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,9},{57,104}}</string>
                <key>sourceSize</key>
                <string>{123,126}</string>
            </dict>
            <key>environment_map109_seaweed3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,413},{59,106}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,9},{59,106}}</string>
                <key>sourceSize</key>
                <string>{123,126}</string>
            </dict>
            <key>environment_map109_seaweed4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,538},{44,77}}</string>
                <key>offset</key>
                <string>{17,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,14},{44,77}}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>environment_map109_seaweed4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,584},{42,73}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,16},{42,73}}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>environment_map109_seaweed4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,536},{40,77}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,14},{40,77}}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>environment_map109_seaweed4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,538},{42,79}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,11},{42,79}}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>environment_map109_seaweed4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,582},{44,75}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,10},{44,75}}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>environment_map109_seaweed5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,261},{261,81}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,53},{261,81}}</string>
                <key>sourceSize</key>
                <string>{303,161}</string>
            </dict>
            <key>environment_map109_seaweed5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{267,71}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,63},{267,71}}</string>
                <key>sourceSize</key>
                <string>{303,161}</string>
            </dict>
            <key>environment_map109_seaweed5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,190},{263,69}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,67},{263,69}}</string>
                <key>sourceSize</key>
                <string>{303,161}</string>
            </dict>
            <key>environment_map109_seaweed5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{265,73}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,61},{265,73}}</string>
                <key>sourceSize</key>
                <string>{303,161}</string>
            </dict>
            <key>environment_map109_seaweed5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,192},{261,81}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,53},{261,81}}</string>
                <key>sourceSize</key>
                <string>{303,161}</string>
            </dict>
            <key>environment_map109_seaweed5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,275},{251,75}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,54},{251,75}}</string>
                <key>sourceSize</key>
                <string>{303,161}</string>
            </dict>
            <key>environment_map109_seaweed5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{249,73}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,56},{249,73}}</string>
                <key>sourceSize</key>
                <string>{303,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map109.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c18cf3da4e2e7bc0a7ed4834d5520177$</string>
            <key>textureFileName</key>
            <string>map109.pvr.ccz</string>
        </dict>
    </dict>
</plist>
