<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>environment_map110_lightening_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,484},{320,480}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,508}</string>
            </dict>
            <key>environment_map110_lightening_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,484}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,0},{66,484}}</string>
                <key>sourceSize</key>
                <string>{320,508}</string>
            </dict>
            <key>environment_map110_lightening_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,508}</string>
            </dict>
            <key>environment_map110_lightening_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{320,480}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,508}</string>
            </dict>
            <key>environment_map110_lightening_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{320,478}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,478}}</string>
                <key>sourceSize</key>
                <string>{320,508}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map110.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4c49066bc8f61b932127d754d87c76c$</string>
            <key>textureFileName</key>
            <string>map110.pvr.ccz</string>
        </dict>
    </dict>
</plist>
