<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>environment_map108_waterfall1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{221,249}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,43},{221,249}}</string>
                <key>sourceSize</key>
                <string>{379,329}</string>
            </dict>
            <key>environment_map108_waterfall1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,374},{187,201}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,46},{187,201}}</string>
                <key>sourceSize</key>
                <string>{379,329}</string>
            </dict>
            <key>environment_map108_waterfall1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,147},{191,225}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,53},{191,225}}</string>
                <key>sourceSize</key>
                <string>{379,329}</string>
            </dict>
            <key>environment_map108_waterfall1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,398},{239,255}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,28},{239,255}}</string>
                <key>sourceSize</key>
                <string>{379,329}</string>
            </dict>
            <key>environment_map108_waterfall1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,299},{253,263}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,53},{253,263}}</string>
                <key>sourceSize</key>
                <string>{379,329}</string>
            </dict>
            <key>environment_map108_waterfall2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{275,439}}</string>
                <key>offset</key>
                <string>{-46,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,56},{275,439}}</string>
                <key>sourceSize</key>
                <string>{527,495}</string>
            </dict>
            <key>environment_map108_waterfall2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,147},{249,417}}</string>
                <key>offset</key>
                <string>{-31,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,78},{249,417}}</string>
                <key>sourceSize</key>
                <string>{527,495}</string>
            </dict>
            <key>environment_map108_waterfall2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,2},{295,447}}</string>
                <key>offset</key>
                <string>{-54,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,48},{295,447}}</string>
                <key>sourceSize</key>
                <string>{527,495}</string>
            </dict>
            <key>environment_map108_waterfall2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{295,447}}</string>
                <key>offset</key>
                <string>{-56,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,48},{295,447}}</string>
                <key>sourceSize</key>
                <string>{527,495}</string>
            </dict>
            <key>environment_map108_wave1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,2},{86,43}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,38},{86,43}}</string>
                <key>sourceSize</key>
                <string>{230,149}</string>
            </dict>
            <key>environment_map108_wave1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,299},{118,59}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,33},{118,59}}</string>
                <key>sourceSize</key>
                <string>{230,149}</string>
            </dict>
            <key>environment_map108_wave1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,229},{140,61}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,39},{140,61}}</string>
                <key>sourceSize</key>
                <string>{230,149}</string>
            </dict>
            <key>environment_map108_wave1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,47},{180,73}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,39},{180,73}}</string>
                <key>sourceSize</key>
                <string>{230,149}</string>
            </dict>
            <key>environment_map108_wave2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,424},{220,137}}</string>
                <key>offset</key>
                <string>{33,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,86},{220,137}}</string>
                <key>sourceSize</key>
                <string>{496,331}</string>
            </dict>
            <key>environment_map108_wave2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,398},{220,137}}</string>
                <key>offset</key>
                <string>{33,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,86},{220,137}}</string>
                <key>sourceSize</key>
                <string>{496,331}</string>
            </dict>
            <key>environment_map108_wave3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{526,143}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{526,143}}</string>
                <key>sourceSize</key>
                <string>{584,219}</string>
            </dict>
            <key>environment_map108_wave3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{526,143}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{526,143}}</string>
                <key>sourceSize</key>
                <string>{584,219}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map108.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b101414975fe83be4801e675dfe28451$</string>
            <key>textureFileName</key>
            <string>map108.pvr.ccz</string>
        </dict>
    </dict>
</plist>
