<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>environment_map105_cavelight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,158},{233,264}}</string>
                <key>offset</key>
                <string>{22,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,32},{233,264}}</string>
                <key>sourceSize</key>
                <string>{295,314}</string>
            </dict>
            <key>environment_map105_waterfall1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,740},{179,110}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,25},{179,110}}</string>
                <key>sourceSize</key>
                <string>{271,164}</string>
            </dict>
            <key>environment_map105_waterfall1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,507},{173,118}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,27},{173,118}}</string>
                <key>sourceSize</key>
                <string>{271,164}</string>
            </dict>
            <key>environment_map105_waterfall1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,740},{173,112}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,30},{173,112}}</string>
                <key>sourceSize</key>
                <string>{271,164}</string>
            </dict>
            <key>environment_map105_waterfall2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,561},{177,219}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{177,219}}</string>
                <key>sourceSize</key>
                <string>{199,241}</string>
            </dict>
            <key>environment_map105_waterfall2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,644},{173,211}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,30},{173,211}}</string>
                <key>sourceSize</key>
                <string>{199,241}</string>
            </dict>
            <key>environment_map105_waterfall2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,416},{171,215}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{171,215}}</string>
                <key>sourceSize</key>
                <string>{199,241}</string>
            </dict>
            <key>environment_map105_waterfall2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,644},{179,207}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,34},{179,207}}</string>
                <key>sourceSize</key>
                <string>{199,241}</string>
            </dict>
            <key>environment_map105_waterfall3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,496},{87,112}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{87,112}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>environment_map105_waterfall3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,416},{89,124}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{89,124}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>environment_map105_waterfall3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{89,166}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{89,166}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>environment_map105_wave1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,416},{311,78}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{311,78}}</string>
                <key>sourceSize</key>
                <string>{319,90}</string>
            </dict>
            <key>environment_map105_wave1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{311,78}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{311,78}}</string>
                <key>sourceSize</key>
                <string>{319,90}</string>
            </dict>
            <key>environment_map105_wave2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,324},{474,318}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,14},{474,318}}</string>
                <key>sourceSize</key>
                <string>{538,344}</string>
            </dict>
            <key>environment_map105_wave2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{478,320}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,14},{478,320}}</string>
                <key>sourceSize</key>
                <string>{538,344}</string>
            </dict>
            <key>environment_map105_wave3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{633,412}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,9},{633,412}}</string>
                <key>sourceSize</key>
                <string>{701,426}</string>
            </dict>
            <key>environment_map105_wave3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{633,412}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,9},{633,412}}</string>
                <key>sourceSize</key>
                <string>{701,426}</string>
            </dict>
            <key>environment_map105_wave4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,393},{295,166}}</string>
                <key>offset</key>
                <string>{42,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,65},{295,166}}</string>
                <key>sourceSize</key>
                <string>{431,272}</string>
            </dict>
            <key>environment_map105_wave4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,416},{299,162}}</string>
                <key>offset</key>
                <string>{45,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,76},{299,162}}</string>
                <key>sourceSize</key>
                <string>{431,272}</string>
            </dict>
            <key>environment_map105_wave4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,2},{289,154}}</string>
                <key>offset</key>
                <string>{61,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,91},{289,154}}</string>
                <key>sourceSize</key>
                <string>{431,272}</string>
            </dict>
            <key>environment_map105_wave5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,496},{125,83}}</string>
                <key>offset</key>
                <string>{-40,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,44},{125,83}}</string>
                <key>sourceSize</key>
                <string>{335,263}</string>
            </dict>
            <key>environment_map105_wave5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,496},{115,79}}</string>
                <key>offset</key>
                <string>{-18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,64},{115,79}}</string>
                <key>sourceSize</key>
                <string>{335,263}</string>
            </dict>
            <key>environment_map105_wave5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,577},{99,79}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,79},{99,79}}</string>
                <key>sourceSize</key>
                <string>{335,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map105.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f52db4dcb9c76f697d64d3006c82202d$</string>
            <key>textureFileName</key>
            <string>map105.pvr.ccz</string>
        </dict>
    </dict>
</plist>
