<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_19_attack_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,790},{126,108}}</string>
                <key>offset</key>
                <string>{11,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,97},{126,108}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,174},{104,130}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,75},{104,130}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,914},{106,102}}</string>
                <key>offset</key>
                <string>{3,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,103},{106,102}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,174},{142,100}}</string>
                <key>offset</key>
                <string>{26,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,105},{142,100}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,884},{118,118}}</string>
                <key>offset</key>
                <string>{18,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,86},{118,118}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,250},{92,116}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,87},{92,116}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,306},{110,116}}</string>
                <key>offset</key>
                <string>{16,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,86},{110,116}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,688},{100,114}}</string>
                <key>offset</key>
                <string>{19,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,87},{100,114}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{102,122}}</string>
                <key>offset</key>
                <string>{9,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,76},{102,122}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,570},{98,116}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,81},{98,116}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,636},{118,124}}</string>
                <key>offset</key>
                <string>{13,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,72},{118,124}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,118},{86,112}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,83},{86,112}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,450},{118,112}}</string>
                <key>offset</key>
                <string>{-18,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,102},{118,112}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,180}}</string>
                <key>offset</key>
                <string>{-4,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,34},{92,180}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{110,170}}</string>
                <key>offset</key>
                <string>{-17,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,43},{110,170}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,804},{100,108}}</string>
                <key>offset</key>
                <string>{-19,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,107},{100,108}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,918},{102,104}}</string>
                <key>offset</key>
                <string>{-9,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,109},{102,104}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{98,174}}</string>
                <key>offset</key>
                <string>{-6,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,38},{98,174}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{116,140}}</string>
                <key>offset</key>
                <string>{-13,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,71},{116,140}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_attack_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{86,128}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,103},{86,128}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_dead_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,762},{112,120}}</string>
                <key>offset</key>
                <string>{13,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,82},{112,120}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_dead_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,318},{116,130}}</string>
                <key>offset</key>
                <string>{22,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,74},{116,130}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_dead_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,504},{130,126}}</string>
                <key>offset</key>
                <string>{22,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,90},{130,126}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_dead_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{142,90}}</string>
                <key>offset</key>
                <string>{18,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,116},{142,90}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_dead_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,236},{112,106}}</string>
                <key>offset</key>
                <string>{-14,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,100},{112,106}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_dead_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{116,100}}</string>
                <key>offset</key>
                <string>{-23,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,100},{116,100}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_dead_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{130,96}}</string>
                <key>offset</key>
                <string>{-23,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,103},{130,96}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_dead_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{142,110}}</string>
                <key>offset</key>
                <string>{-19,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,116},{142,110}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_walk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{102,128}}</string>
                <key>offset</key>
                <string>{11,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,76},{102,128}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_walk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{114,110}}</string>
                <key>offset</key>
                <string>{16,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,87},{114,110}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_walk_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,132},{116,108}}</string>
                <key>offset</key>
                <string>{15,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,87},{116,108}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_walk_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,120},{114,110}}</string>
                <key>offset</key>
                <string>{16,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,87},{114,110}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_walk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,658},{102,100}}</string>
                <key>offset</key>
                <string>{-12,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,111},{102,100}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_walk_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,368},{114,96}}</string>
                <key>offset</key>
                <string>{-16,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,108},{114,96}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_walk_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,424},{116,96}}</string>
                <key>offset</key>
                <string>{-16,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,106},{116,96}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_19_walk_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,542},{114,98}}</string>
                <key>offset</key>
                <string>{-16,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,107},{114,98}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:077cc63841548434e15296af5ea33709$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
