<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_attack_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{166,126}}</string>
                <key>offset</key>
                <string>{29,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,85},{166,126}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,154},{96,152}}</string>
                <key>offset</key>
                <string>{21,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,59},{96,152}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{144,142}}</string>
                <key>offset</key>
                <string>{33,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,69},{144,142}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,158},{108,152}}</string>
                <key>offset</key>
                <string>{31,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,59},{108,152}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,476},{104,118}}</string>
                <key>offset</key>
                <string>{18,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,88},{104,118}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{106,168}}</string>
                <key>offset</key>
                <string>{24,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,40},{106,168}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,570},{148,132}}</string>
                <key>offset</key>
                <string>{30,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,76},{148,132}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,2},{124,162}}</string>
                <key>offset</key>
                <string>{27,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,46},{124,162}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,478},{110,120}}</string>
                <key>offset</key>
                <string>{14,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,85},{110,120}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{118,164}}</string>
                <key>offset</key>
                <string>{10,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,39},{118,164}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,248},{104,122}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,80},{104,122}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,130},{110,156}}</string>
                <key>offset</key>
                <string>{4,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,47},{110,156}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,122},{104,160}}</string>
                <key>offset</key>
                <string>{-18,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,56},{104,160}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{106,146}}</string>
                <key>offset</key>
                <string>{-24,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,68},{106,146}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,428},{148,144}}</string>
                <key>offset</key>
                <string>{-31,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,69},{148,144}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,276},{124,118}}</string>
                <key>offset</key>
                <string>{-27,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,96},{124,118}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{110,176}}</string>
                <key>offset</key>
                <string>{-14,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,53},{110,176}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,487},{118,114}}</string>
                <key>offset</key>
                <string>{-11,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,95},{118,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,190},{104,166}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,60},{104,166}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_attack_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,382},{110,118}}</string>
                <key>offset</key>
                <string>{-4,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,91},{110,118}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_dead_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,128},{140,130}}</string>
                <key>offset</key>
                <string>{8,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,75},{140,130}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_dead_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,302},{178,116}}</string>
                <key>offset</key>
                <string>{-26,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,90},{178,116}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_dead_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{186,110}}</string>
                <key>offset</key>
                <string>{-49,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,128},{186,110}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_dead_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,154},{188,136}}</string>
                <key>offset</key>
                <string>{-59,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,149},{188,136}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_dead_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,228},{140,126}}</string>
                <key>offset</key>
                <string>{-9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,83},{140,126}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_dead_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{178,140}}</string>
                <key>offset</key>
                <string>{25,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,63},{178,140}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_dead_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,292},{186,134}}</string>
                <key>offset</key>
                <string>{48,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,70},{186,134}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_dead_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,186},{188,114}}</string>
                <key>offset</key>
                <string>{58,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,103},{188,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_idle_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,368},{120,120}}</string>
                <key>offset</key>
                <string>{18,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,87},{120,120}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_idle_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,2},{118,120}}</string>
                <key>offset</key>
                <string>{18,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,87},{118,120}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_idle_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,354},{120,120}}</string>
                <key>offset</key>
                <string>{17,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,87},{120,120}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_idle_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,260},{120,120}}</string>
                <key>offset</key>
                <string>{18,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,87},{120,120}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_idle_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,356},{120,120}}</string>
                <key>offset</key>
                <string>{-19,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,98},{120,120}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_idle_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,246},{120,118}}</string>
                <key>offset</key>
                <string>{-18,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,97},{120,118}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_idle_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,260},{120,120}}</string>
                <key>offset</key>
                <string>{-18,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,98},{120,120}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_idle_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,126},{120,122}}</string>
                <key>offset</key>
                <string>{-19,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,98},{120,122}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_skill_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,186}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,53},{292,186}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_skill_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{290,182}}</string>
                <key>offset</key>
                <string>{-8,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,55},{290,182}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_skill_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{278,154}}</string>
                <key>offset</key>
                <string>{-7,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,77},{278,154}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_skill_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{290,150}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,80},{290,150}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_skill_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,2},{122,122}}</string>
                <key>offset</key>
                <string>{18,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,86},{122,122}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_skill_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,268},{106,152}}</string>
                <key>offset</key>
                <string>{7,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,44},{106,152}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_skill_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,308},{148,144}}</string>
                <key>offset</key>
                <string>{-2,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,46},{148,144}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_skill_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,454},{118,124}}</string>
                <key>offset</key>
                <string>{32,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,84},{118,124}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_skill_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,500},{122,122}}</string>
                <key>offset</key>
                <string>{-19,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,97},{122,122}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_skill_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,242},{106,134}}</string>
                <key>offset</key>
                <string>{-8,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,75},{106,134}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_skill_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,420},{148,172}}</string>
                <key>offset</key>
                <string>{1,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,29},{148,172}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_skill_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,396},{118,130}}</string>
                <key>offset</key>
                <string>{-33,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,122},{118,130}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_stand_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,158},{127,116}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,56},{127,116}}</string>
                <key>sourceSize</key>
                <string>{243,228}</string>
            </dict>
            <key>player_stand_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,358},{127,112}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,62},{127,112}}</string>
                <key>sourceSize</key>
                <string>{243,228}</string>
            </dict>
            <key>player_walk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,494},{106,114}}</string>
                <key>offset</key>
                <string>{18,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,88},{106,114}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_walk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,124},{120,118}}</string>
                <key>offset</key>
                <string>{18,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,89},{120,118}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_walk_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,607},{132,122}}</string>
                <key>offset</key>
                <string>{16,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,87},{132,122}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_walk_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,146},{122,112}}</string>
                <key>offset</key>
                <string>{16,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,89},{122,112}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_walk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,500},{106,112}}</string>
                <key>offset</key>
                <string>{-19,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,97},{106,112}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_walk_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,382},{120,116}}</string>
                <key>offset</key>
                <string>{-18,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,99},{120,116}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_walk_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,350},{130,130}}</string>
                <key>offset</key>
                <string>{-16,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,97},{130,130}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>player_walk_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,376},{122,130}}</string>
                <key>offset</key>
                <string>{-17,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,99},{122,130}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04effeacbda303fdb029b9725ad6d8e8$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
