<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>building_11_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,360},{144,142}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,46},{144,142}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{196,182}}</string>
                <key>offset</key>
                <string>{17,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,6},{196,182}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,98},{192,172}}</string>
                <key>offset</key>
                <string>{15,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,16},{192,172}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,156},{156,186}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,2},{156,186}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,416},{136,156}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,40},{136,156}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{140,196}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,0},{140,196}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{152,196}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,0},{152,196}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,242},{150,184}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,12},{150,184}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,272},{86,154}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,42},{86,154}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{94,196}}</string>
                <key>offset</key>
                <string>{-11,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,0},{94,196}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,144},{96,190}}</string>
                <key>offset</key>
                <string>{-8,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,6},{96,190}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,162},{124,182}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,14},{124,182}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,394},{136,128}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,60},{136,128}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,148}}</string>
                <key>offset</key>
                <string>{-30,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,40},{208,148}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{200,158}}</string>
                <key>offset</key>
                <string>{-26,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{200,158}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{174,150}}</string>
                <key>offset</key>
                <string>{-13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{174,150}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,360},{86,128}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,60},{86,128}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,314},{114,166}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,22},{114,166}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,288},{126,180}}</string>
                <key>offset</key>
                <string>{-7,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,8},{126,180}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{136,154}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,34},{136,154}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_11_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,394},{128,94}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,125},{128,94}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d101f9659f88a38554b0a3cefee0907$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
