<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>building_9_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,142},{212,88}}</string>
                <key>offset</key>
                <string>{19,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,77},{212,88}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{226,88}}</string>
                <key>offset</key>
                <string>{22,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,77},{226,88}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{222,88}}</string>
                <key>offset</key>
                <string>{22,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,77},{222,88}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_9_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{160,124}}</string>
                <key>offset</key>
                <string>{13,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,49},{160,124}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_9_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,138}}</string>
                <key>offset</key>
                <string>{23,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,38},{186,138}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_9_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,230},{174,128}}</string>
                <key>offset</key>
                <string>{18,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,46},{174,128}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_9_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,356},{40,154}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,30},{40,154}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_9_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,128},{40,186}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,2},{40,186}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_9_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,170},{40,172}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,14},{40,172}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_9_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,400},{160,108}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,62},{160,108}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_9_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,212},{186,112}}</string>
                <key>offset</key>
                <string>{-23,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,63},{186,112}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_9_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,360},{172,108}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,63},{172,108}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_9_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{40,138}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,52},{40,138}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_9_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,470},{38,160}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,53},{38,160}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_9_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,356},{40,148}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,53},{40,148}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>building_9_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{90,68}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,139},{90,68}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fd54ab34b1c7347fdad1fa2b680ef72$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
