<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_10_attack_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{146,109}}</string>
                <key>offset</key>
                <string>{-59,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,89},{146,109}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{146,105}}</string>
                <key>offset</key>
                <string>{-50,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,93},{146,105}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{172,111}}</string>
                <key>offset</key>
                <string>{61,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,77},{172,111}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,541},{110,101}}</string>
                <key>offset</key>
                <string>{39,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,94},{110,101}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,939},{80,121}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,103},{80,121}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,135},{96,127}}</string>
                <key>offset</key>
                <string>{-27,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,126},{96,127}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,342},{116,151}}</string>
                <key>offset</key>
                <string>{36,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,43},{116,151}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,264},{70,107}}</string>
                <key>offset</key>
                <string>{29,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,85},{70,107}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,179}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,85},{68,179}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,179},{60,161}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,119},{60,161}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{60,175}}</string>
                <key>offset</key>
                <string>{0,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,7},{60,175}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,958},{64,109}}</string>
                <key>offset</key>
                <string>{-7,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,70},{64,109}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,495},{90,137}}</string>
                <key>offset</key>
                <string>{31,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,67},{90,137}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,158},{106,149}}</string>
                <key>offset</key>
                <string>{35,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,55},{106,149}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,285},{128,95}}</string>
                <key>offset</key>
                <string>{-36,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,108},{128,95}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,944},{78,109}}</string>
                <key>offset</key>
                <string>{-29,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,116},{78,109}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,578},{54,111}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,67},{54,111}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,634},{52,121}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,57},{52,121}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,653},{58,91}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,111},{58,91}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_attack_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,829},{78,127}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,110},{78,127}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_dead_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,688},{126,117}}</string>
                <key>offset</key>
                <string>{23,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,80},{126,117}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_dead_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,837},{120,143}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,62},{120,143}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_dead_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,309},{134,83}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,126},{134,83}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_dead_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{154,115}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,145},{154,115}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_dead_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{146,121}}</string>
                <key>offset</key>
                <string>{-25,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,115},{146,121}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_dead_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,689},{138,137}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,75},{138,137}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_dead_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{152,141}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,87},{152,141}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_dead_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{176,89}}</string>
                <key>offset</key>
                <string>{11,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,159},{176,89}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_walk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,445},{122,131}}</string>
                <key>offset</key>
                <string>{15,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,72},{122,131}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_walk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{122,131}}</string>
                <key>offset</key>
                <string>{18,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,65},{122,131}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_walk_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,813},{124,121}}</string>
                <key>offset</key>
                <string>{17,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,73},{124,121}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_walk_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,150},{124,133}}</string>
                <key>offset</key>
                <string>{17,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,64},{124,133}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_walk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,687},{124,123}}</string>
                <key>offset</key>
                <string>{-25,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,82},{124,123}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_walk_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,415},{124,117}}</string>
                <key>offset</key>
                <string>{-28,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,79},{124,117}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_walk_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,578},{124,107}}</string>
                <key>offset</key>
                <string>{-27,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,84},{124,107}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
            <key>enemy_10_walk_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,816},{126,103}}</string>
                <key>offset</key>
                <string>{-27,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,80},{126,103}}</string>
                <key>sourceSize</key>
                <string>{300,321}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b35379b082b5b1c392eff85d1d89ca5f$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
