<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_11_attack_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{98,170}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,17},{98,170}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{106,146}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,46},{106,146}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{150,104}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,83},{150,104}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,231},{136,106}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,83},{136,106}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{112,160}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,24},{112,160}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,2},{78,150}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,32},{78,150}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,334},{102,116}}</string>
                <key>offset</key>
                <string>{-20,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,73},{102,116}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,316},{90,122}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,70},{90,122}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,110},{130,128}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,46},{130,128}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,240},{128,132}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,39},{128,132}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,240},{92,126}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,56},{92,126}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,370},{102,128}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,55},{102,128}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,408},{112,114}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,58},{112,114}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,238},{78,104}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,61},{78,104}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,474},{102,108}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,64},{102,108}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,566},{90,104}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,63},{90,104}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,198},{130,116}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,63},{130,116}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,279},{128,102}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,74},{128,102}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,334},{92,118}}</string>
                <key>offset</key>
                <string>{-13,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,79},{92,118}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_attack_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,468},{102,108}}</string>
                <key>offset</key>
                <string>{-10,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,78},{102,108}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>enemy_11_dead_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{86,101}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,14},{86,101}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>enemy_11_dead_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,344},{98,99}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,19},{98,99}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>enemy_11_dead_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,383},{120,83}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{120,83}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>enemy_11_dead_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,194},{134,83}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,37},{134,83}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>enemy_11_dead_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,453},{111,127}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,21},{111,127}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>enemy_11_dead_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{127,131}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,29},{127,131}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>enemy_11_dead_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,102},{155,127}}</string>
                <key>offset</key>
                <string>{18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,43},{155,127}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>enemy_11_dead_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,117}}</string>
                <key>offset</key>
                <string>{19,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,63},{173,117}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>enemy_11_walk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{154,122}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{154,122}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>enemy_11_walk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,116},{142,122}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,10},{142,122}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>enemy_11_walk_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,108},{84,144}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,7},{84,144}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>enemy_11_walk_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,339},{112,132}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,11},{112,132}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>enemy_11_walk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,82},{144,114}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{144,114}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>enemy_11_walk_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{134,122}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,13},{134,122}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>enemy_11_walk_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,110},{80,126}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,12},{80,126}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>enemy_11_walk_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{106,126}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,15},{106,126}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaa1bd8af7b5f52489484060c0551048$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
