<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_20_attack_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{130,108}}</string>
                <key>offset</key>
                <string>{24,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,95},{130,108}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{120,108}}</string>
                <key>offset</key>
                <string>{20,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,95},{120,108}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{112,108}}</string>
                <key>offset</key>
                <string>{17,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,95},{112,108}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,112},{86,104}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,99},{86,104}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,112},{100,104}}</string>
                <key>offset</key>
                <string>{19,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,92},{100,104}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{94,104}}</string>
                <key>offset</key>
                <string>{15,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,92},{94,104}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,112},{88,106}}</string>
                <key>offset</key>
                <string>{11,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,91},{88,106}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,176},{78,104}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,94},{78,104}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{64,114}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,79},{64,114}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,68},{68,112}}</string>
                <key>offset</key>
                <string>{-6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,83},{68,112}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,106},{68,108}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,88},{68,108}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,266},{88,100}}</string>
                <key>offset</key>
                <string>{-16,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,95},{88,100}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,202},{100,104}}</string>
                <key>offset</key>
                <string>{-19,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,106},{100,104}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,210},{94,104}}</string>
                <key>offset</key>
                <string>{-16,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,105},{94,104}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,256},{90,102}}</string>
                <key>offset</key>
                <string>{-11,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,106},{90,102}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,226},{78,102}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,107},{78,102}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,214},{64,98}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,113},{64,98}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,176},{68,98}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,113},{68,98}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,276},{68,96}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,113},{68,96}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_attack_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,280},{88,92}}</string>
                <key>offset</key>
                <string>{16,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,115},{88,92}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_dead_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{102,116}}</string>
                <key>offset</key>
                <string>{20,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,89},{102,116}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_dead_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{114,122}}</string>
                <key>offset</key>
                <string>{22,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,82},{114,122}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_dead_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,88},{122,120}}</string>
                <key>offset</key>
                <string>{22,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,93},{122,120}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_dead_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,88}}</string>
                <key>offset</key>
                <string>{25,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,116},{144,88}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_dead_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,200},{102,98}}</string>
                <key>offset</key>
                <string>{-20,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,109},{102,98}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_dead_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{114,86}}</string>
                <key>offset</key>
                <string>{-22,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,114},{114,86}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_dead_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{122,92}}</string>
                <key>offset</key>
                <string>{-22,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,121},{122,92}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_dead_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,84}}</string>
                <key>offset</key>
                <string>{-26,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,135},{144,84}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_walk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,180},{84,102}}</string>
                <key>offset</key>
                <string>{11,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,91},{84,102}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_walk_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,138},{86,106}}</string>
                <key>offset</key>
                <string>{12,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,92},{86,106}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_walk_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,90},{88,108}}</string>
                <key>offset</key>
                <string>{12,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,92},{88,108}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_walk_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,138},{86,106}}</string>
                <key>offset</key>
                <string>{12,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,92},{86,106}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_walk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,306},{84,90}}</string>
                <key>offset</key>
                <string>{-11,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,112},{84,90}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_walk_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,304},{88,90}}</string>
                <key>offset</key>
                <string>{-13,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,117},{88,90}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_walk_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,306},{88,90}}</string>
                <key>offset</key>
                <string>{-13,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,119},{88,90}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
            <key>enemy_20_walk_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,304},{88,90}}</string>
                <key>offset</key>
                <string>{-13,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,117},{88,90}}</string>
                <key>sourceSize</key>
                <string>{496,372}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d8cf4d2a5cee99abd0780e796f8eee3$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
