<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc3_idle_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,198}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,14},{92,198}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>npc4_idle_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{84,198}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,14},{84,198}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>npc5_idle_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{58,134}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,20},{58,134}}</string>
                <key>sourceSize</key>
                <string>{200,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b97230a25e27de44bb93300faa2a4370$</string>
            <key>textureFileName</key>
            <string>animation.pvr.ccz</string>
        </dict>
    </dict>
</plist>
